<%
let showCat = false;
if (post.categories && post.categories.length > 0) {
  showCat = true;
}
%>
<%
let showAuthor = false;
if (post.author && post.author.length > 0) {
  showAuthor = true;
}
%>
<% if (post.cover) { %>
  <div class='post-cover'>
    <img src='<%- post.cover %>'/>
  </div>
<% } %>
<h2 class="post-title">
  <%- (post.title || post.seo_title) ? (post.title || post.seo_title) : date(post.date, config.date_format) %>
</h2>
<div class='excerpt'>
  <% if (post.excerpt) { %>
    <p><%- strip_html(post.excerpt) %></p>
  <% } else if (post.description) { %>
    <p><%- post.description %></p>
  <% } else if (post.content && theme.article.auto_excerpt > 0) { %>
    <p><%- truncate(strip_html(post.content), {length: theme.article.auto_excerpt}) %></p>
  <% } %>
</div>
<div class='meta cap'>
  <% if (showAuthor) { %>
    <% if (post.layout == 'post' && post.author && post.author.length > 0) { %>
      <%
      var authors = [];
      if (post.author) {
        post.author.forEach((author, i) => {
          authors.push(author.name);
        });
      }
      function layoutAuthors() {
        if (authors.length > 0) {
          let author = authors.shift();
          var el = '<span class="cap breadcrumb"' + category_color(author) + '>';
          el += author;
          el += '</span>';
          return el;
        } else {
          return '';
        }
      }
      %>
      <%- layoutAuthors() %>
    <% } %>
  <% } %>
  <span class='cap' id='post-meta'>
    <%- __('meta.created') %>&nbsp;<time datetime='<%- date_xml(post.date) %>'><%= date(post.date, config.date_format) %></time>
  </span>
  <% if (showCat) { %>
    <% if (post.layout == 'post' && post.categories && post.categories.length > 0) { %>
      <%
      var cats = [];
      if (post.categories) {
        post.categories.forEach((cat, i) => {
          cats.push(cat.name);
        });
      }
      function layoutCats() {
        if (cats.length > 0) {
          let cat = cats.shift();
          var el = '<span class="cap breadcrumb"' + category_color(cat) + '>';
          el += cat;
          el += '</span>';
          return el;
        } else {
          return '';
        }
      }
      %>
      <%- layoutCats() %>
    <% } %>
  <% } %>
  <% if (post.pin) { %>
    <span class='pin'><img src='https://cdn.jsdelivr.net/gh/cdn-x/placeholder@1.0.1/badge/3279dd441df8b.svg'/></span>
  <% } %>
</div>
